<div class="container">
    <h1 class="title">Listar Grupo Proyecto</h1>
    <div class="table-rol">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>Codigo</th>
          <td mat-cell *matCellDef="let element">{{ element.idGrupoDeProyecto }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef>Fecha Creacion</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaCreacion }}</td>
          </ng-container>
          <ng-container matColumnDef="proyecto">
            <th mat-header-cell *matHeaderCellDef>Proyecto</th>
            <td mat-cell *matCellDef="let element">{{ element.proyecto.nombre }}</td>
          </ng-container>
        <ng-container matColumnDef="funciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="buttons">
              <button
                mat-raised-button
                color="warn"
                [routerLink]="['ediciones', element.idGrupoDeProyecto]"
              >
                Actualizar
              </button>
              <button
                mat-raised-button
                color="accent"
                (click)="eliminar(element.idGrupoDeProyecto)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
  