<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <h1>Registro de Comentario</h1>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label class="title-label">id</mat-label>
            <input matInput placeholder="Id" formControlName="idComentario" readonly=""/>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Comentario</mat-label>
            <input
              matInput
              placeholder="Comentario"
              formControlName="comentario"
            />
            <mat-error
              *ngIf="obtenerControlCampo('comentario')?.errors?.['required']"
            >
              El comentario es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Tareas</mat-label>
            <mat-select formControlName="tarea">
              <mat-option
                *ngFor="let p of listaTareas"
                [value]="p.idTarea"
              >
                {{ p.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('tarea')?.errors?.['required']"
            >
              La Tarea es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <div class="buttons">
              <button mat-raised-button color="accent">Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/comentario">
                Cancelar
              </button>
          </div>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>

