<mat-toolbar>
  <div class="wrapper-image d-flex justify-content-center">
    <img src="../../../assets/images/Logo.png" alt="logo" />
  </div>
  <div class="container-buttons">
    <!-- <button mat-button [matMenuTriggerFor]="menu">Roles</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/roles/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/roles'">Listar</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="areaTrabajo">Area de Trabajo</button>
    <mat-menu #areaTrabajo="matMenu">
      <button mat-menu-item [routerLink]="'/areaTrabajo/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/areaTrabajo'">Listar</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="usuario">Usuarios</button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item [routerLink]="'/usuarios/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/usuarios'">Listar</button>
    </mat-menu> -->
    <button mat-button [matMenuTriggerFor]="person">Users</button>

    <mat-menu #person="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="usuario">Usuario</button>
      <button mat-menu-item [matMenuTriggerFor]="roles">Rol</button>
      <button mat-menu-item [matMenuTriggerFor]="areatrabajo">
        Area Trabajo
      </button>
    </mat-menu>

    <mat-menu #usuario="matMenu">
      <button mat-menu-item [routerLink]="'/usuarios/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/usuarios'">Listar</button>
    </mat-menu>

    <mat-menu #roles="matMenu">
      <button mat-menu-item [routerLink]="'/roles/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/roles'">Listar</button>
    </mat-menu>

    <mat-menu #areatrabajo="matMenu">
      <button mat-menu-item [routerLink]="'/areaTrabajo/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/areaTrabajo'">Listar</button>
    </mat-menu>



    <button mat-button [matMenuTriggerFor]="proyect">Proyect</button>

    <mat-menu #proyect="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="proyecto">Proyecto</button>
      <button mat-menu-item [matMenuTriggerFor]="grupo_proyecto">Grupo Proyecto</button>
      <button mat-menu-item [matMenuTriggerFor]="miembro_grupo">Miembro en Grupo</button>
    </mat-menu>

    <mat-menu #miembro_grupo="matMenu">
      <button mat-menu-item [routerLink]="'/miembrogrupo/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/miembrogrupo'">Listar</button>
    </mat-menu>

    <mat-menu #proyecto="matMenu">
      <button mat-menu-item [routerLink]="'/proyecto/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/proyecto'">Listar</button>
    </mat-menu>

    <mat-menu #grupo_proyecto="matMenu">
      <button mat-menu-item [routerLink]="'/grupo-proyecto/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/grupo-proyecto'">Listar</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="area">Area</button>

    <mat-menu #area="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="miembro_area">Miembro de Area</button>
      <button mat-menu-item [matMenuTriggerFor]="comentario">Comentario</button>
    </mat-menu>

    <mat-menu #miembro_area="matMenu">
      <button mat-menu-item [routerLink]="'/miembrodearea/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/miembrodearea'">Listar</button>
    </mat-menu>

    <mat-menu #comentario="matMenu">
      <button mat-menu-item [routerLink]="'/comentario/nuevo'">Crear</button>
      <button mat-menu-item [routerLink]="'/comentario'">Listar</button>
    </mat-menu>

    <button mat-button color="warn" (click)="cerrarSesion()" >Cerrar Sesion</button>

  </div>
</mat-toolbar>
