<div style="display: flex">
    <mat-form-field>
      <mat-label>Id Usuario</mat-label>
      <mat-select (selectionChange)="onSelectionChange($event)">
        <mat-option
          *ngFor="let usuario of listaUsuarios"
          [value]="usuario.idUsuario"
        >
          {{ usuario.idUsuario }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-card
      style="
        max-width: max-content;
        height: 56px;
        margin-left: 30px;
        min-width: 200px;
      "
    >
      <mat-card-content>{{
        nombre === "" ? "Nombre" : nombre
      }}</mat-card-content>
    </mat-card>
  
    <mat-card
      style="
        max-width: max-content;
        height: 56px;
        margin-left: 30px;
        min-width: 200px;
      "
    >
      <mat-card-content>{{
        correo === "" ? "Usuario" : correo
      }}</mat-card-content>
    </mat-card>
  
    <div style="line-height: 59px;margin-left: 30px;"><button mat-raised-button color="accent" style="background-color: #6a5dc4;" (click)="onClick()">Buscar</button></div>
  </div>
  
  
  <div class="container">
      <h1 class="title">Area de trabajo por usuario</h1>
      <div class="table-rol">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Codigo</th>
            <td mat-cell *matCellDef="let element">{{ element.idAreaDeTrabajo }}</td>
          </ng-container>
          <ng-container matColumnDef="areaTrabajo">
            <th mat-header-cell *matHeaderCellDef>Area Trabajo</th>
            <td mat-cell *matCellDef="let element">{{ element.nombreAreaTrabajo }}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
