<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <h1>Registro Miembro de Area</h1>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>id</mat-label>
            <input matInput placeholder="Id" formControlName="idMiembroDeArea" readonly=""/>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Area de Trabajo</mat-label>
            <mat-select formControlName="areaDeTrabajo">
              <mat-option
                *ngFor="let p of listaAreaTrabajo"
                [value]="p.idAreaDeTrabajo"
              >
                {{ p.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('areaDeTrabajo')?.errors?.['required']"
            >
              El area de trabajo es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="usuario">
              <mat-option
                *ngFor="let p of listaUsuario"
                [value]="p.idUsuario"
              >
                {{ p.nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('usuario')?.errors?.['required']"
            >
              El usuario es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <div class="buttons">
              <button mat-raised-button color="accent">Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/miembrodearea">
                Cancelar
              </button>
          </div>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>