<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <h1>Registro de Usuarios</h1>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label class="title-label">idUsuario</mat-label>
            <input matInput placeholder="Id" formControlName="idUsuario" readonly=""/>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Nombre</mat-label>
            <input
              matInput
              placeholder="Nombre"
              formControlName="nombre"
            />
            <mat-error
              *ngIf="obtenerControlCampo('nombre')?.errors?.['required']"
            >
              La nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Correo</mat-label>
            <input
              matInput
              placeholder="Correo"
              formControlName="correo"
            />
            <mat-error
              *ngIf="obtenerControlCampo('correo')?.errors?.['required']"
            >
              La correo es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field appearance="fill" class="example-full-width">
            <input
              matInput
              placeholder="Ingrese fecha"
              [matDatepicker]="picker"
              formControlName="fechaNacimiento"
              [max]="formattedMaxDate"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error
              *ngIf="obtenerControlCampo('fechaNacimiento')?.errors?.['required']"
            >
              La fecha de creación es obligatoria.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Roles</mat-label>
            <mat-select formControlName="rol">
              <mat-option
                *ngFor="let p of listRoles"
                [value]="p.idRol"
              >
                {{ p.descripcion }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="obtenerControlCampo('rol')?.errors?.['required']"
            >
              El rol es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">User Name</mat-label>
            <input
              matInput
              placeholder="User Name"
              formControlName="userName"
            />
            <mat-error
              *ngIf="obtenerControlCampo('userName')?.errors?.['required']"
            >
              La User Name es obligatoria.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Contraseña</mat-label>
            <input
              matInput
              placeholder="Contraseña"
              formControlName="contrasena"
            />
            <mat-error
              *ngIf="obtenerControlCampo('contrasena')?.errors?.['required']"
            >
              La Contraseña es obligatoria.
            </mat-error>
          </mat-form-field>
          <br />
          <div class="buttons">
              <button mat-raised-button color="accent">Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/usuarios">
                Cancelar
              </button>
          </div>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>


