<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <h1>Registro de Area de Trabajo</h1>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label class="title-label">id</mat-label>
            <input matInput placeholder="Id" formControlName="idAreaDeTrabajo" readonly=""/>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Nombre</mat-label>
            <input
              matInput
              placeholder="Nombre"
              formControlName="nombre"
            />
            <mat-error
              *ngIf="obtenerControlCampo('nombre')?.errors?.['required']"
            >
              La nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="title-label">Descripcion</mat-label>
            <input
              matInput
              placeholder="Descripcion"
              formControlName="descripcion"
            />
            <mat-error
              *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']"
            >
              La descripcion es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <div class="buttons">
              <button mat-raised-button color="accent">Aceptar</button>
              <button mat-raised-button color="warn" routerLink="/areaTrabajo">
                Cancelar
              </button>
          </div>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>


